<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/js/prettify/desert.css">
    <script src="/js/prettify/prettify.js" type="text/javascript"></script>
    <script src="/js/application.js" type="text/javascript"></script>

    <title><%= title %></title>
  </head>
  <body onload="prettyPrint()">
    <header> 
        <h1><a href="/" title="Back to home">Low Fire Danger</a></h1>
        <p>Art, Engineering, Code and Business</p> 
        <p>by <strong><a href="http://www.lowfiredanger.com.au">Sonny Mai</a></strong></p>
    </header>
    <section>
      <%= yield %> 
    </section>
    <footer>
      A Low Fire Danger site by <a href="http://twitter.com/sonnyzm">Sonny Mai</a>
    </footer>
  </body>
</html>

